.cat-recent {
  background: url('../images/categories/009-clock.svg') no-repeat;
}

.cat-smiles {
  background: url('../images/categories/008-smiling.svg') no-repeat;
}

.cat-animals {
  background: url('../images/categories/001-dog.svg') no-repeat;
}

.cat-food {
  background: url('../images/categories/002-hamburger.svg') no-repeat;
}

.cat-activity {
  background: url('../images/categories/003-ball.svg') no-repeat;
}

.cat-travel {
  background: url('../images/categories/004-travel.svg') no-repeat;
}

.cat-objects {
  background: url('../images/categories/005-idea.svg') no-repeat;
}

.cat-symbols {
  background: url('../images/categories/006-hashtag.svg') no-repeat;
}

.cat-flags {
  background: url('../images/categories/007-flag.svg') no-repeat;
}
