.widget,
.search-input {
    background: var(--background);
}

.search-input {
    border: solid 1px var(--foreground-2);
}

.emoji-button:hover,
.emoji-button:target,
.emoji-button:focus {
    background: var(--foreground-1);
}

.search-input {
    color: var(--contrast);
}

.search-icon {
    fill: var(--contrast);
}

.tab-icon {
    fill: var(--contrast);
}

.tab-item.selected > .tab-icon {
    fill: var(--accent);
}

/* Firefox */
.widget * {
    scrollbar-width: thin;
    scrollbar-color: var(--foreground-2) var(--foreground-1);
}

.widget *::-webkit-scrollbar-track {
    background: var(--foreground-1);
}

.widget *::-webkit-scrollbar-thumb {
    background-color: var(--foreground-2);
    border: 2px solid var(--foreground-1);
}
